<?xml version="1.0"?>
<model>
  <name>physical_ai_amr</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>physical_ai</name>
    <email>user@todo.todo</email>
  </author>
  <description>
    Differential-drive AMR (0.6 x 0.4 x 0.25 m) for Gazebo Harmonic.
  </description>
</model>
